<!DOCTYPE html>
<html>
<head>
	<title>DSMT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <style>
        .accountbox{
            margin-top: 1%;
            margin-bottom: 1%;
            padding: 2%;
            line-height: 1;
            background: white;
            border-radius: 7px;
        }
        .accountbox:hover{
            box-shadow: 0px 4px 16px -2px;
        }
    </style>
</head>
<body class="">
    <div class="container dashboard-container" style="margin-bottom: 2%;">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h2>Benificiary accounts</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6"  style="margin-top: 2%;">
                <button class="btn btn-success pull-right" ng-click="addaccount()">Add account</button>
            </div>
        </div>
        <div style="margin-top: 7%;">
            <div class="accountbox" ng-repeat='data in account.benificiery'>
              <div>
                <p style="font-size: 16px;font-weight: 700;">Benificiary Name : {{data.username}} 
                    <button class="btn btn-sm btn-danger pull-right" ng-click="deletebenificiary($index)">delete</button>
                </p>
                <p>Account : {{data._id}}</p>
                <p>Aadhar : {{data.aadharnumber}}</p>
              </div>
            </div>
        </div>
    </div>
</body>
    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
	<script src="js/main.js"></script>
</html>
